@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic')

.page
  margin 0
  font 13pt/1.5 'Source Sans Pro', sans-serif
  background linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./images/banner.jpg') no-repeat center / cover fixed

  *
    box-sizing border-box

  h1, h2, h3
    line-height 1.75rem
    font-weight 800
    font-family 'Source Sans Pro', sans-serif
    letter-spacing: 0.225em
    color #fff
    text-transform uppercase
    margin 0 0 1rem 0

  h2
    font-size 1.35rem
    @media (max-width 768px)
      font-size 1.2rem

  h3
    font-size 1.15rem
    @media (max-width 768px)
      font-size 1.10rem
