section(class='banner container-fluid')
  section(class='banner__content')
    h1(class='banner__caption') Spectral

    p.banner__description
      | Another fine responsive
      br
      | site template freebie 
      br
      | crafted by 
      a.link.link_dotted.link_uppercase(href='#') HTML5 UP.

    button.button.button_red Activate

  include ../link-to-more/link-to-more
