.page
  margin 0
  padding 0
  font 13pt/1.5 'Source Sans Pro', sans-serif
  background linear-gradient(rgba(#000, .5) 100%, transparent), url('../images/banner.jpg') center / cover fixed no-repeat
  *
    box-sizing border-box
  h1, h2, h3
    line-height 1.75rem
    font-weight 800
    font-family 'Source Sans Pro', sans-serif
    letter-spacing: 0.225em
    color #fff
    text-transform uppercase
    margin 0 0 1rem 0
  h2
    font-size 1.35rem
    @media (max-width 768px)
      font-size 1.2rem
  h3
    font-size 1.15rem
    @media (max-width 768px)
      font-size 1.10rem
