.col-lg-1,
.col-md-1,
.col-sm-1,
.col-xs-1,
.col-lg-2,
.col-md-2,
.col-sm-2,
.col-xs-2,
.col-lg-3,
.col-md-3,
.col-sm-3,
.col-xs-3,
.col-lg-4,
.col-md-4,
.col-sm-4,
.col-xs-4,
.col-lg-5,
.col-md-5,
.col-sm-5,
.col-xs-5,
.col-lg-6,
.col-md-6,
.col-sm-6,
.col-xs-6,
.col-lg-7,
.col-md-7,
.col-sm-7,
.col-xs-7,
.col-lg-8,
.col-md-8,
.col-sm-8,
.col-xs-8,
.col-lg-9,
.col-md-9,
.col-sm-9,
.col-xs-9,
.col-lg-10,
.col-md-10,
.col-sm-10,
.col-xs-10,
.col-lg-11,
.col-md-11,
.col-sm-11,
.col-xs-11,
.col-lg-12,
.col-md-12,
.col-sm-12,
.col-xs-12 {
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  box-sizing: border-box;
  display: block;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 798px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 1022px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1230px;
  }
}
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-left: -floor(15px);
  margin-right: -floor(15px);
}
@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.3333%;
  }
  .col-lg-2 {
    width: 16.6666%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333%;
  }
  .col-lg-5 {
    width: 41.6666%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333%;
  }
  .col-lg-8 {
    width: 66.6666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333%;
  }
  .col-lg-11 {
    width: 91.6666%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .col-md-1 {
    width: 8.3333%;
  }
  .col-md-2 {
    width: 16.6666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333%;
  }
  .col-md-5 {
    width: 41.6666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333%;
  }
  .col-md-8 {
    width: 66.6666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333%;
  }
  .col-md-11 {
    width: 91.6666%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .col-sm-1 {
    width: 8.3333%;
  }
  .col-sm-2 {
    width: 16.6666%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333%;
  }
  .col-sm-5 {
    width: 41.6666%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333%;
  }
  .col-sm-8 {
    width: 66.6666%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333%;
  }
  .col-sm-11 {
    width: 91.6666%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .col-xs-1 {
    width: 8.3333%;
  }
  .col-xs-2 {
    width: 16.6666%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.3333%;
  }
  .col-xs-5 {
    width: 41.6666%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.3333%;
  }
  .col-xs-8 {
    width: 66.6666%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.3333%;
  }
  .col-xs-11 {
    width: 91.6666%;
  }
  .col-xs-12 {
    width: 100%;
  }
}
.service {
  background: #21b2a6;
  color: #fff;
  text-align: center;
}
.service__title {
  border-bottom: 2px solid #1d9c91;
  padding: 1rem 0;
  font-size: 24px;
  line-height: 42px;
  text-transform: uppercase;
}
.square {
  height: 80px;
  width: 80px;
  border: 2px solid #fff;
  transform: rotate(45deg);
  display: inline-block;
  margin: 26px;
}
