.banner
  display flex
  flex-direction column
  justify-content center
  height 100vh
  min-height 560px
  padding-top 2rem
  padding-bottom 2rem
  position relative
  text-align center
  &__caption
    display inline-block
    border-top 2px solid #fff
    border-bottom 2px solid #fff
    padding 1rem
    font-size 1.75rem
    margin-bottom 2rem
  &__description
    text-transform uppercase
    color white
    letter-spacing 0.225rem
    margin-bottom 2rem

.linkToMore
  display inline-block
  width 180px
  position absolute
  bottom 0
  left 50%
  padding 2rem
  margin-left (@width / -2)
  text-decoration none
  text-transform uppercase
  font-size 0.8rem
  color #fff
