.banner
  text-transform uppercase
  text-align center
  padding 15% 38% 40px
  color #fff
  background-color rgba(0,0,0,.4)

.banner__head
  display inline-block
  font-size 2.5rem
  border-top 2px solid #fff
  border-bottom 2px solid #fff
  padding 1rem 0

.banner__info a
  text-decoration none
  color #fff
  border-bottom 1px dotted #fff
  transition .5s
  padding 1rem 0
  &:hover
    border rgba(255,255,255,0)

.banner__button
  font-size 1.5rem
  color #fff
  padding 1rem 2rem
  background tomato
  border none
  border-radius 10px
  &:hover
    background lighten(@background, 20%)

.banner__learnMore
  display block
  margin-top 13rem
  text-decoration none
  color #fff

// .menu
//   text-transform uppercase

// .menu
//   position fixed
//   right 0
//   top 0