footer
  background-color: rgba(29, 36, 42, 0.9)
  padding 104px 0 79px
  
.icons, .copyrights
  display block
  text-align center
  color rgba(255, 255, 255, 0.5)
  font-size 25px
  margin 0 0 40px

.icon
  margin 8px
  display inline-block
  color rgba(255, 255, 255, 0.5)
  
.icon:hover
  color white

.copyrights
  text-transform uppercase
  letter-spacing 3px
  font-size 18px
  font-weight 400
  
.copyright
  display inline-block
  border-right 1px solid rgba(255, 255, 255, 0.5)
  line-height 16px
  padding 0 20px
  
.copyright:last-child 
  border-right none