.interactive 
  color #fff
  font-size 18px
  letter-spacing 2px

.interactive_banner
  background-color rgba(0,0,0,0.4)
  padding 100px 0 80px



.interactive_container
  max-width 900px
  margin 0 auto

.interactive_buttons
  width 30%
  list-style-type none
  display inline-block
  
.interactive_header
  float left
  width 65%
  padding 10px
  line-height 25px