.interactive_banner
  background-color rgba(0,0,0,0.4)
  padding 100px 0 80px


.interactive_container
  max-width 1200px
  margin 0 auto

.interactive_buttons
  list-style-type none
  display inline-block
  
.interactive_text
  float left