.portfolio 
	background-color #505393
	text-align center
	color white
.headline 
	text-transform uppercase
	padding-top 60px
	font-weight bold
.line
	color #464981
	border 1px solid #464981
	width 40%
.description
	font-size 24px
