.portfolio
  background-color #505393
  padding-top 5rem
  padding-bottom 5rem
  .container
    max-width 992px

.feature
  gradualDarkening(6)
  color white
  padding 4rem 6rem 2rem 6rem
  @media (max-width 540px)
    padding 2rem 1rem 1rem 3.2rem

  &__caption
    position relative
  &__description
    color rgba(white, .8)
  &__icon
    position absolute
    left -4rem
    font-size 1.6rem
    @media (max-width 768px)
      left -2.4rem
