.service 
  background #21B2A6
  color #fff
  text-align center

// .service__container
//   padding 7.19rem 29.38rem

.service__title
  border-bottom 2px solid #1D9C91
  padding 4rem 0 0
  font-size 24px
  line-height 42px
  text-transform uppercase

.square
  font-size 30px
  height 80px
  width @height
  line-height @width
  border 2px solid #1D9C91
  transform rotate(-45deg)
  display inline-block
  margin  26px

.icon_green
  color #00FFCC

.icon_blue 
  color #00F0FF

.icon_lightblue
  color #76DDFF

.service__shape
  padding-bottom 4rem


.about__context
  background #2B343D
  color #fff

.about__img 
  height 29.38rem
  width 41.75rem
  float left
.about__img_1
   background url('./images/about_1.jpg') center / cover no-repeat
.about__context:after
  content ''
  clear both
  display table

.about__info
  padding 7rem 20rem 2.5rem 46rem 
  letter-spacing 4px
  line-height 32px

.about__title
  font-size 28px


.about__text
  font-size 18px

.about__img_2
   background url('./images/about_2.jpg') center / cover no-repeat
.about__img_3
   background url('./images/about_3.jpg') center / cover no-repeat
.img__right
  float right