.service
  background #21B2A6
  text-align center
  padding-top 5rem
  padding-bottom 5rem
  &__item
    display inline-block
    font-size 2rem
    height 4rem
    width @height
    line-height @width
    border 2px solid rgba(black, .125)
    border-radius 3px
    transform rotate(-45deg)
    margin 1.8rem
    @media (max-width 480px)
      margin 1.2rem
      height 4rem
      width @height
      line-height @width
      font-size 1.8rem