h2 
  margin 0
.service 
  .container
    max-width 740px
  background #21B2A6
  color #fff
  text-align center

// .service__container
//   padding 7.19rem 29.38rem
  
.service__title
  border-bottom 2px solid #1D9C91
  padding 4rem 0 0
  font-size 24px
  line-height 42px
  text-transform uppercase
.service__info
  font-size 20px
.square
  font-size 30px
  height 80px
  width @height
  line-height @width
  border 2px solid #1D9C91
  transform rotate(-45deg)
  display inline-block
  margin  26px

.icon_green
  color #00FFCC

.icon_blue 
  color #00F0FF

.icon_lightblue
  color #76DDFF

.service__shape
  padding-bottom 4rem
.about
  color #fff
.about__img_1
  background url('./images/about_1.jpg') center / cover no-repeat
  height 474px

.about__info_1
  background #2B343D
  height 474px

.about__context
  padding 160px 300px 0 40px
.about__img_2
  background url('./images/about_2.jpg') center / cover no-repeat
  height 474px
.about__info_2
  background #273038
  height 474px
.about__context__center
  padding 150px 150px 0 240px
  
.about__img_3
  background url('./images/about_3.jpg') center / cover no-repeat
  height 474px
.about__info_3
  background #273038
  height 474px
  