.mainVail
  z-index -999
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  transition background .5s ease-in-out

input.mainMenu__switcher
  display none
  &:checked
    ~ .mainVail
      z-index 999
      background rgba(black, .6)
    ~ .mainMenu
        margin-right 0
        label.mainMenu__switcher
          opacity 1

label.mainMenu__switcher
  display inline-block
  position fixed
  top 0
  right 0
  z-index 1000
  color #fff
  padding 15px
  text-transform uppercase
  cursor pointer
  i
    padding-left 10px
    font-size 1.1rem
    line-height 0

.mainMenu
  display block
  position fixed
  width 320px
  margin-right -@width
  transition .5s
  right 0
  top 0
  bottom 0
  z-index 1000
  overflow auto
  background #21B2A6
  padding 3rem 2rem 1rem 2rem
  label.mainMenu__switcher
    opacity 0
    transition .4s
    i
      font-size 1.3rem
  &__item
    text-transform uppercase
    text-decoration none
    font-size .85rem
    letter-spacing 0.225rem
    color #fff
    display block
    margin-bottom 0.85em
    padding-bottom 0.85em
    &:not(:last-child)
      border-bottom 1px solid rgba(black, .125)
