label(for='mainMenu__switcher').mainMenu__switcher Menu
  i.fa.fa-bars(aria-hidden='true')
input#mainMenu__switcher.mainMenu__switcher(type='checkbox')

label.mainVail(for='mainMenu__switcher')

nav(class='mainMenu')
  label(for='mainMenu__switcher' class='mainMenu__switcher')
    i.fa.fa-times.fa-2x.cross(aria-hidden='true')
  a(class='mainMenu__item' href='#') Home
  a(class='mainMenu__item' href='#') Generic
  a(class='mainMenu__item' href='#') Elements
  a(class='mainMenu__item' href='#') Sign up
  a(class='mainMenu__item' href='#') Log in
