.interactive
  padding-top 4rem
  padding-bottom 4rem
  color #fff
  font-size 18px
  letter-spacing 2px
  display flex
  align-items center
  .container
    max-width 900px

  &__description
    margin-bottom 0
    font-size .9rem
    @media (max-width 768px)
      margin-bottom 2rem
  &__button
    max-width 300px
    margin-right auto
    margin-left auto
    &:not(:last-child)
      margin-bottom 2rem

  @media (max-width 768px)
    text-align center