section.banner
  h1.banner__head
    | spectral
  p.banner__info
    | another fine responsive site template freebie crafted by 
    a.link.link_white.link_dotted(href='#') html5 up
  button.banner__button
    | activate
  a.banner__learnMore(href='#')
    | learn more
    br
    i.fa.fa-arrow-down.fa-2x(aria-hidden='true')
