section.banner.container-fluid
  section
    h1.banner__caption Spectral

    p.banner__description.
      Another fine responsive
      <br>
      site template freebie
      <br>
      crafted by
      <a class='link link_white link_dotted' href='#'>HTML5 UP.</a>

    button.button.button_red Activate

  a.linkToMore(href='#') Learn more
    i.fa.fa-arrow-down.fa-2x(aria-hidden='true')
