footer.mainFooter
  .container
    ul.icons
      li.icon
        a(href='#')
          i.fa.icon.fa-twitter(aria-hidden='true')
      li.icon
        a(href='#')
          i.fa.icon.fa-facebook(aria-hidden='true')
      li.icon
        a(href='#')
          i.fa.icon.fa-instagram(aria-hidden='true')
      li.icon
        a(href='#')
          i.fa.icon.fa-dribbble(aria-hidden='true')
      li.icon
        a(href='#')
          i.fa.icon.fa-envelope-o(aria-hidden='true')
    .copyrights
      ul.footer_copyrights
        li.copyright
          | © untitled
        li.copyright
          | Design : 
          a.link.link_transparent(href='#') html5 up
        li.copyright
          | Demo images: 
          a.link.link_transparent(href='#')  Unsplash
