footer.mainFooter
  .socialLinks
    a.socialLinks__item(href="#")
      i.fa.icon.fa-twitter(aria-hidden='true')
    a.socialLinks__item(href="#")
      i.fa.icon.fa-facebook(aria-hidden='true')
    a.socialLinks__item(href="#")
      i.fa.icon.fa-instagram(aria-hidden='true')
    a.socialLinks__item(href="#")
      i.fa.icon.fa-dribbble(aria-hidden='true')
    a.socialLinks__item(href="#")
      i.fa.icon.fa-envelope-o(aria-hidden='true')

  ul.copyrights
    li.copyrights__item © Untitled
    li.copyrights__item Design: 
      a.link.link_dotted(href="#") HTML5 UP
    li.copyrights__item Demo Images: 
      a.link.link_dotted(href="#") Unsplash
