section.interactive
  .container
    .row
      .col-sm-7
        h2.interactive__caption Arcue ut vel commodo
        p.interactive__description.
          Aliquam ut ex ut augue consectetur interdum
          endrerit imperdiet amet eleifend fringilla.
      .col-sm-5
        .interactive__button
          button.button.button_red.button_block(href='#') Activate
        .interactive__button
          button.button.button_transparent.button_block(href='#') Learn more
