section.interactive
  .interactive_banner
    .interactive_container
      .interactive_header
        h2 Arcue ut vel commodo
        p.interactive_text
          | Aliquam ut ex ut augue consectetur interdum 
          br
          |  endrerit imperdiet amet eleifend fringilla.
      .interactive_buttons
        li
          a.button.button_red(href='#') Activate
        li
          a.button.button_transparent(href='#') Learn more
