section.portfolio
  .container
    header.sectionHeader
      h2.sectionHeader__caption.
        Accumsan mus tortor nunc aliquet
      hr.sectionHeader__delimeter
      p.sectionHeader__description.
        Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend
        <br>
        fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.

  .container
    .row
      .col-sm-6.feature
        h3.feature__caption
          i.feature__icon.icon_turquoise.fa.fa-paper-plane-o(aria-hidden='true')
          | Arcu accumsan
        p.feature__description
          | Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.
      .col-sm-6.feature
        h3.feature__caption
          i.feature__icon.icon_turquoise.fa.fa-laptop(aria-hidden='true')
          | Ac Augue Eget
        p.feature__description
          | Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.
      .col-sm-6.feature
        h3.feature__caption
          i.feature__icon.icon_turquoise.fa.fa-code(aria-hidden='true')
          | Mus Scelerisque
        p.feature__description
          | Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.
      .col-sm-6.feature
        h3.feature__caption
          i.feature__icon.icon_turquoise.fa.fa-headphones(aria-hidden='true')
          | Mauris Imperdiet
        p.feature__description
          | Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.
      .col-sm-6.feature
        h3.feature__caption
          i.feature__icon.icon_turquoise.fa.fa-heart-o(aria-hidden='true')
          | Arcu accumsan
        p.feature__description
          | Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.
      .col-sm-6.feature
        h3.feature__caption
          i.feature__icon.icon_turquoise.fa.fa-flag-o(aria-hidden='true')
          | Arcu accumsan
        p.feature__description
          | Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.
