.mainMenu
  label(for='mainMenu__switcher') Menu
    i.fa.fa-bars(aria-hidden='true')
  input#mainMenu__switcher.menuBtn(type='checkbox')
  .sidebar
    label(for='mainMenu__switcher')
      i.fa.fa-times.fa-2x.cross(aria-hidden='true')
    ul.sidebar__list
      li.sidebar__item
        a.sidebar__link(href='#') home
      li.sidebar__item
        a.sidebar__link(href='#') generic
      li.sidebar__item
        a.sidebar__link(href='#') elements
      li.sidebar__item
        a.sidebar__link(href='#') sign up
      li.sidebar__item
        a.sidebar__link(href='#') log in
