doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='./style.css')
    title Spectral
  body

    include ./_sidebar.pug
    include ./_banner.pug
    include ./_service.pug
    include ./_about.pug
    include ./_portfolio.pug
    include ./_interactive.pug
    include ./_footer.pug
