@import '../../particles/background.styl'

.portfolio
  background-color #505393
  padding-top 5rem
  padding-bottom 5rem
  .container
    max-width 992px

.feature
  gradualDarkening(6)
  color white
  padding 4rem 6rem 2rem 6rem
  @media (max-width 520px)
    padding 2rem 15px
    text-align center

  &__caption
    position relative
  &__description
    color rgba(white, .8)
  &__icon
    position absolute
    left -4rem
    font-size 1.6rem
    @media (max-width 520px)
      position relative
      left auto
      display block
      padding-bottom 1.5rem
