.banner
  display flex
  height 100vh
  min-height 480px
  padding-top 2rem
  padding-bottom 2rem
  position relative
  text-align center
  &__content
    margin auto
  &__caption
    display inline-block
    border-top 2px solid #fff
    border-bottom 2px solid #fff
    padding 1rem
    font-size 1.75rem
    margin-bottom 2rem
  &__description
    text-transform uppercase
    color white
    letter-spacing 0.225rem
    margin-bottom 2rem
    br
      @media (max-width 480px)
        display none
