section(block='banner' mix='block:container-fluid')
  section(elem='content')
    h1(elem='caption') Spectral

    p.banner__description
      | Another fine responsive
      br
      | site template freebie 
      br
      | crafted by 
      a.link.link_dotted.link_uppercase(href='#') HTML5 UP.

    button.button.button_red Activate

  include ../link-to-more/link-to-more.pug
