section.service
  .container
    header(block='sectionHeader')
      h2(elem='caption')
        | Arcu aliquet vel lobortis ata nisl
        br
        | eget augue amet aliquet nisl cep donec
      hr(elem='delimeter')
      p(elem='description')
        | Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend
        br
        | fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.

  .container
    .service__item.icon_turquoise
      i.fa.fa-diamond.fa-rotate-45(aria-hidden='true')
    .service__item.icon_cyan
      i.fa.fa-heart-o.fa-rotate-45(aria-hidden='true')
    .service__item.icon_lightblue
      i.fa.fa-code.fa-rotate-45(aria-hidden='true')
