.button
  display inline-block
  text-transform uppercase
  text-decoration none
  color #fff
  padding 10px 25px
  width 250px
  border-radius 2px
  letter-spacing 5px
  margin 20px
  text-align center
  font-weight 500
  
.button_red
  background-color #ed4933
  border 2px solid #ed4933
  
.button_transparent
  background-color transparent
  border 2px solid #fff
  text-decoration none
  