.button
  display inline-block
  text-transform uppercase
  text-decoration none
  color #fff
  padding .8rem 2rem
  border-radius 3px
  font-size .8rem
  letter-spacing 0.225rem
  text-align center
  font-weight 500
  cursor pointer
  border none
  transition .6s
  &_red
    background #ed4933
    &:hover
      background lighten(@background, 10%)
  &_transparent
    background transparent
    border 2px solid #fff
  &_block
    width 100%
