.sectionHeader
  text-align center
  margin 0 auto 4rem auto
  &__caption
    color #fff
    font-size 1.35rem
    margin 0
  &__description
    color rgba(white, .8)
    font-size 1.1rem
    margin 0
  br
    @media (max-width 992px)
      display none
    @media (max-width 992px)
      font-size .9rem
  &__delimeter
    width 80%
    border none
    border-bottom 2px solid rgba(black, .125)
    margin 1.2rem auto
