.link
  text-decoration none
  transition .5s
  &_white
    color #fff
  &_grey
    color grey
  &_dotted
    border-bottom 1px dotted #fff
  &_transparent 
    color rgba(255, 255, 255, 0.5)
    border-bottom 1px dotted rgba(255, 255, 255, 0.5)
    &:hover 
      color white
  &:hover
    border rgba(255,255,255,0)
