.link
  outline none !important
  text-decoration none
  display inline-block
  transition .3s
  color inherit
  &_dotted
    border-bottom 1px dotted
    &:hover
      border-bottom-color transparent
  &_uppercase
    text-transform uppercase
