*
  box-sizing border-box

html
  font 13pt/1.5 'Source Sans Pro', sans-serif

body
  margin 0
  background url('./images/banner.jpg') no-repeat center / cover fixed

h2, h3
  font 800 1.35rem/1.75rem 'Source Sans Pro', sans-serif
  letter-spacing: 0.225em
  color #fff
  text-transform uppercase
  margin 0 0 1rem 0

h3
  font-size 1.15rem
