html
  font 16px 'Source Sans Pro', sans-serif

body
  margin 0
  background url('./images/banner.jpg') 
  background linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./images/banner.jpg")
  background-attachment fixed
  background-position center center
  background-repeat no-repeat
  background-size cover
  padding-top 0

h2 
  font-size 35px
  font-weight 800
  color #fff
  line-height 1.75em
