html
  font 16px 'Source Sans Pro', sans-serif

body
  margin 0

  background url('./images/banner.jpg')
  background-attachment fixed
  background-position center center
  background-repeat no-repeat
  background-size cover
  padding-top 0

h2 
  font-size 30px
  font-weight 800
  color #fff
  line-height 1.75em
  text-transform uppercase
  margin 10px 0
