doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='./style.css')
    title Spectral
  body.page

    include ../blocks/sidebar/sidebar.pug
    include ../blocks/banner/banner.pug
    include ../blocks/service/service.pug
    include ../blocks/about/about.pug
    include ../blocks/portfolio/portfolio.pug
    include ../blocks/interactive/interactive.pug
    include ../blocks/footer/footer.pug
