section.about
  .aboutItem
    .aboutItem__image
      img(src='./images/about_1.jpg')
    .aboutItem__info
      h2.aboutItem__caption.
        Magna primis lobortis
        <br>
        sed ullamcorper
      p.aboutItem__description.
        Aliquam ut ex ut augue consectetur interdum.
        Donec hendrerit imperdiet.
        Mauris eleifend fringilla nullam aenean mi ligula.
  .aboutItem
    .aboutItem__image
      img(src='./images/about_2.jpg')
    .aboutItem__info
      h2.aboutItem__caption.
        Magna primis lobortis
        <br>
        sed ullamcorper
      p.aboutItem__description.
        Aliquam ut ex ut augue consectetur interdum.
        Donec hendrerit imperdiet.
        Mauris eleifend fringilla nullam aenean mi ligula.
  .aboutItem
    .aboutItem__image
      img(src='./images/about_3.jpg')
    .aboutItem__info
      h2.aboutItem__caption.
        Magna primis lobortis
        <br>
        sed ullamcorper
      p.aboutItem__description.
        Aliquam ut ex ut augue consectetur interdum.
        Donec hendrerit imperdiet.
        Mauris eleifend fringilla nullam aenean mi ligula.
