doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/style.css')
    title Spectral

  body.page
    include blocks/sidebar/sidebar
    include blocks/banner/banner
    include blocks/service/service
    include blocks/about/about
    include blocks/portfolio/portfolio
    include blocks/interactive/interactive
    include blocks/footer/footer
