.linkToMore
  position absolute
  left 50%
  bottom 0
  width 11rem
  margin-left (@width / -2)
  padding 2rem
  text-decoration none
  text-transform uppercase
  font-size 0.8rem
  letter-spacing 0.125rem
  color #fff
  display inline-block
  i
    padding-top 1rem
  @media (max-width 480px)
    display none
